.filter  {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #273c75;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -30%;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 30%;
  z-index: 1;
}

.filter.expanded { left: 0; }

.filter-title {
  color: #cfd8dc;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #cfd8dc;
}

.filter-title .icon {
  height: 26px;
}

.input-wrapper {
  position: relative;
  height: 40px;
  width: 100%;
  margin: 1em 0;
}

.input-wrapper input {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #263238;
  line-height: 30px;
  padding: 0.5em;
  font-size: 18px;
  font-weight: 300;
}

.results-summary {
  margin: 0.5em 0;
  font-size: 16px;
  color:#cfd8dc;
  font-weight: 300;
  text-align: center;
}

.results-summary strong {
  font-weight: normal;
}

.results-list {
  margin: 1em 0 0 0;
  list-style: none;
  padding: 0.5em;
}

.results-list .result-item {
  color: #cfd8dc;
  font-size: 16px;
  font-weight: normal;
  padding: 0.5em;
  border-bottom: 1px solid #b0bec5;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.results-list .result-item:hover,
.results-list .result-item:focus {
  color:#dcdde1;
  padding-left: 20px;
}

.results-list .result-item:last-child {
  border-bottom: 0;
}

@media (max-width: 1179px) {
  .filter {
    width: 40%;
    left: -40%;
    overflow-x:auto;
  }
}

@media (max-width: 679px) {
  .filter {
    width: 100%;
    height: auto;
    position: inherit;
    left: 0;
  }
}
